/*   category index.blade.php START  */
.category-box {
  border: solid 1px blue;
  width: 70%;
  float: left;
}
.category-boxs {
  text-align: center;
}
.category-boxs a {
  width: 240px;
  height: 70px;
  margin: 0 10px 10px 0;
  padding: 0;
  float: left;
  border: solid 1px gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.category-boxs ul::after {
  content: "";
  display: block;
  clear: both;
}
.category-box-image {
  float: left;
  margin: 10px;
}
.category-box-name {
  font-size: 16px;
}
.category_box:after {
  content: "";
  display: block;
  clear: both;
}

.category-sidebar {
  width: 340px;
}
.category-sidebar ul {
  border: solid 1px gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.category-sidebar p {
  font-size: 16px;
}
.lank-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
}


.category-sidebar li{
  counter-increment:rank;
}
.sidebar-lank p::before {
  content:"第" counter(rank) "位";
}

.category-sidebar li {
  background-repeat: no-repeat;
  background-size: 40px 30px;
  background-position: 2px 0px;
}
.category-sidebar li:nth-child(1) {
  background-image: url("/image/first.jpg");
}
.category-sidebar li:nth-child(2)  {
  background-image: url("/image/second.jpg");
}
.category-sidebar li:nth-child(3)  {
  background-image: url("/image/third.jpg");
}


.sidebar-lank p {
  padding-top: 27px;
}
.sidebar-lank {
  float: left;
}
.lank-box-image {
  float: left;
  padding-left: 20px;
  padding-right: 15px;
  max-width: 85px;
  max-height: 50px;
}


section:after {
  content: "";
  display: block;
  clear: both;
}
/*   ctegory index.blade.php END  */
