/*all*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #333631;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro' ,sans-serif
}
ul {
  font-size: 0;
}
li {
  display: inline-block;
  font-size: 14px;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  text-decoration: underline;
}
p {
  padding:0;
  margin:0;
}

/*footerを最下部に固定*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
/*footer*/



/*all*/




/*   HEADER  START  */
header{
  background-color: rgb(53,47,61);
  padding-bottom: 5px;
}
.header-logo {
  color: white;
}
.header-middle{
  padding-top: 20px;
}
.header-right{
  padding-top: 20px;
}
.header-right ul li a {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.header-right ul li a .fa{
  color: white;
  font-size: 20px;
}
.dropdown-toggle {
  color: white;
}
.caret {
  color: white;
}
.header-middle {
  padding-top: 44px;
}
.header-right {
  padding-top: 40px;
}
/*------sidebar------*/
.dropdown-menu li {
  display: block;
}
.sidebar-block {
  background-color: white;
  margin-bottom: 5px;
  padding-top: 10px;
}
.sidebar-category {
  background-image: url(images/icon/arrow.png);
  background-repeat: no-repeat;
  background-position:14px 8px;
  background-size: 20px;
  height: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
}
.sidebar-category p{
  font-size: 14px;
  padding-top: 1.5px;
  border-bottom: dashed 1px gray;
  padding-bottom: 5px;
}


/*------end------*/

/*   HEADER END  */


/*   flash-message-wrapper START  */
.flash-message-wrapper {
  background-color: rgb(252,188,112);
}

.flash_message p {
  font-size: 22px;
  margin-top: 10px;
}
/*   flash-message-wrapper END  */




/*   footer START  */
footer {
  text-align: center;
  margin-top: 30px;
  border-top: solid 1px gray;
  background-color: rgb(35,47,61);
  padding-top: 30px;
  padding-bottom: 20px;
}
/*   footer END  */
footer small {
  color: white;
}





/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/*   defaule.blade.php START  */

/*rating star start*/
.rating {
  float: left;
  border: none;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-family: FontAwesome;
    font-size:18px;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: "\f005";
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
form:after {
  content: "";
  display: block;
  clear: both;
}


/*   defaule.blade.php END  */

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/



/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/



@charset "UTF-8";
.rate {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  font-size: 20px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: '★★★★★';
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0px;
}
.rate1:after {
  width: 20px;
}
.rate1\.1:after {
  width: 22px;
}
.rate1\.2:after {
  width: 24px;
}
.rate1\.3:after {
  width: 26px;
}
.rate1\.4:after {
  width: 28px;
}
.rate1\.5:after {
  width: 30px;
}
.rate1\.6:after {
  width: 32px;
}
.rate1\.7:after {
  width: 34px;
}
.rate1\.8:after {
  width: 36px;
}
.rate1\.9:after {
  width: 38px;
}
.rate2:after {
  width: 40px;
}
.rate2\.1:after {
  width: 42px;
}
.rate2\.2:after {
  width: 44px;
}
.rate2\.3:after {
  width: 46px;
}
.rate2\.4:after {
  width: 48px;
}
.rate2\.5:after {
  width: 40px;
}
.rate2\.6:after {
  width: 52px;
}
.rate2\.7:after {
  width: 54px;
}
.rate2\.8:after {
  width: 56px;
}
.rate2\.9:after {
  width: 58px;
}
.rate3:after {
  width: 60px;
}
.rate3\.1:after {
  width: 62px;
}
.rate3\.2:after {
  width: 64px;
}
.rate3\.3:after {
  width: 66px;
}
.rate3\.4:after {
  width: 68px;
}
.rate3\.5:after {
  width: 70px;
}
.rate3\.6:after {
  width: 72px;
}
.rate3\.7:after {
  width: 74px;
}
.rate3\.8:after {
  width: 76px;
}
.rate3\.9:after {
  width: 78px;
}
.rate4:after {
  width: 80px;
}
.rate4\.1:after {
  width: 82px;
}
.rate4\.2:after {
  width: 84px;
}
.rate4\.3:after {
  width: 86px;
}
.rate4\.4:after {
  width: 88px;
}
.rate4\.5:after {
  width: 90px;
}
.rate4\.6:after {
  width: 92px;
}
.rate4\.7:after {
  width: 94px;
}
.rate4\.8:after {
  width: 96px;
}
.rate4\.9:after {
  width: 98px;
}
.rate5:after {
  width: 100px;
}


.wrap {
  width: 100px;
/*  margin: 0 auto;*/
}


/*login*/
.panel-default {
  margin-top: 20px;
}
/*register*/






















